In [4]:
import pandas as pd

In [5]:
# Create a reference the CSV file desired
csv_path = "purchase_data.csv"

# Read the CSV into a Pandas DataFrame
game_data = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

In [7]:
# Total number of Players

number_of_players = game_data["SN"].nunique()
print (f" Total number of Players is {number_of_players}")

number_of_player_frame = pd.DataFrame({"Player Count": [number_of_players]})

number_of_player_frame

 Total number of Players is 576

   Player Count
0           576

### Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [36]:
gender_group = game_data.groupby(["Gender"])
gender_count = gender_group['SN'].nunique()
gender_percentage = round((gender_count/number_of_players)*100,2)

gender_demographic = pd.DataFrame({"Count" : gender_count, 
                                   "Percentage" : gender_percentage})

gender_demographic

                       Count  Percentage
Gender
Female                    81       14.06
Male                     484       84.03
Other / Non-Disclosed     11        1.91

### Purchasing Analysis (Total)
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [20]:
number_of_unique_items = game_data["Item ID"].nunique()

number_of_unique_items

183

In [21]:
average_purchase_price = round(game_data["Price"].mean(),2)

average_purchase_price

3.05

In [10]:
total_purchases = len(game_data)

total_purchases

780

In [11]:
# Purchasing analysis - Total revenue

total_revenue = round(game_data["Price"].sum(),2)

total_revenue

2379.77

In [37]:
# Creating a purchase analysis table
purchase_analysis = pd.DataFrame({"Number of unique items":[number_of_unique_items],
                                  "Average Purchase price":[average_purchase_price],
                                  "Total number of purchases":[total_purchases],
                                  "Total revenue":[total_revenue]})

purchase_analysis_table = purchase_analysis[["Number of unique items","Average Purchase price",
                                                   "Total number of purchases","Total revenue"]]

purchase_analysis_table

,Number of unique items,Average Purchase price,Total number of purchases,Total revenue
0,183,3.05,780,2379.77

### Age Demographics

* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

In [13]:
# Purchase Count

bins = [0]
bin_value = ['<10']
max_age = game_data["Age"].max()

for x in range(2,int(max_age/5)+2):
    bins = bins + [(x*5)-1]
    
for x in range(1,len(bins)-2):
    bin_value = bin_value + [str(bins[x]+1)+'-'+str(bins[x+1])]
    
bin_value = bin_value + [str(max_age) + '+']

print(bins)
print(bin_value)

[0, 9, 14, 19, 24, 29, 34, 39, 44, 49]
['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45+']

In [14]:
game_data["Age Demo"] = pd.cut(game_data["Age"],bins,labels = bin_value)

In [16]:
#print(game_data["Age Demo"])

In [17]:
age_demo = game_data.groupby(["Age Demo"])
purchase_count = age_demo.size()
avg_pur_price = round(age_demo["Price"].mean(),2)
ttl_pur_value = age_demo["Price"].sum()
avg_pur_pp_age = round(ttl_pur_value / purchase_count,2)

In [18]:
age_demo
purchase_count
avg_pur_price
ttl_pur_value 
avg_pur_pp_age

Age Demo
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40-44    3.04
45+      1.70
dtype: float64

In [68]:
age_dataframe = pd.DataFrame({"Purchase count": purchase_count,
                           "Avg Purchase Price": avg_pur_price,
                           "Total Purchase Value": ttl_pur_value,
                           "Avg Purchase Total": avg_pur_pp_age})


age_dataframe_df = age_dataframe[["Purchase count", "Avg Purchase Price", "Total Purchase Value", "Avg Purchase Total"]]

age_dataframe_df

,Purchase count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total
Age Demo,,,,
<10,23,3.35,77.13,3.35
10-14,28,2.96,82.78,2.96
15-19,136,3.04,412.89,3.04
20-24,365,3.05,1114.06,3.05
25-29,101,2.90,293.00,2.90
30-34,73,2.93,214.00,2.93
35-39,41,3.60,147.67,3.60
40-44,12,3.04,36.54,3.04
45+,1,1.70,1.70,1.70

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [77]:
top_spenders = game_data.groupby(["SN"])

top_spenders_count = top_spenders.size()

top_spenders_avg_price = round(top_spenders["Price"].mean(),2)

top_spenders_total = round(top_spenders["Price"].sum(),2)

top_spenders_df = pd.DataFrame({"Total Purchase Value" : top_spenders_total})

#top_spenders_df

In [78]:
top_spenders_sort = top_spenders_df.sort_values(by="Total Purchase Value",ascending = False)

top_spenders_filter = top_spenders_sort.iloc[0:5].reset_index()


top_spenders_frame = pd.DataFrame({"Purchase count": top_spenders_count,
                                 "Average Purchase Price": top_spenders_avg_price}).reset_index()

top_spenders_final = pd.merge(top_spenders_filter, top_spenders_frame, on="SN")

top_spenders_final

            SN  Total Purchase Value  Purchase count  Average Purchase Price
0    Lisosia93                 18.96               5                    3.79
1  Idastidru52                 15.45               4                    3.86
2   Chamjask73                 13.83               3                    4.61
3       Iral74                 13.62               4                    3.40
4  Iskadarya95                 13.10               3                    4.37

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [105]:
most_popular1 = game_data.groupby(['Item ID'])
most_popular2 = game_data.groupby(["Item ID", "Item Name", "Price"])
most_popular_count = most_popular1.size()
most_popular_purchaseValue = round(most_popular2["Price"].sum(),2)
most_popular_df = pd.DataFrame({"Purchase count" : most_popular_count})

In [137]:
most_popular_sort = most_popular_df.sort_values(by="Purchase count",
                                                ascending = False).reset_index()

end = most_popular_sort["Purchase count"].size

most_popular_filter = most_popular_sort.iloc[:6,].reset_index()

most_popular_frame = pd.DataFrame({"Total Purchase Value": most_popular_purchaseValue}).reset_index()

most_popular_final = pd.merge(most_popular_filter, most_popular_frame, on="Item ID")

most_popular_final

# renaming "Price" collumn to "Item Price"

most_popular_final = most_popular_final.rename(columns={"Price" : "Item Price"})

most_popular_final

,index,Item ID,Purchase count,Item Name,Item Price,Total Purchase Value
0,0,178,12,"Oathbreaker, Last Hope of the Breaking Storm",4.23,50.76
1,1,145,9,Fiery Glass Crusader,4.58,41.22
2,2,108,9,"Extraction, Quickblade Of Trembling Hands",3.53,31.77
3,3,82,9,Nirvana,4.90,44.10
4,4,19,8,"Pursuit, Cudgel of Necromancy",1.02,8.16
5,5,103,8,Singed Scalpel,4.35,34.80

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [167]:
most_profitable1 = game_data.groupby(['Item ID'])
most_profitable2 = game_data.groupby(["Item ID", "Item Name","Price"])
most_profitable_count = most_profitable1.size()
most_profitable_purchaseValue = round(most_profitable2["Price"].sum(),2)
most_profitable_df = pd.DataFrame({"Total Purchase Value" : most_profitable_purchaseValue})

In [190]:
most_profitable_sort = most_profitable_df.sort_values(by="Total Purchase Value", 
                                                      ascending = False)

end = most_profitable_sort["Total Purchase Value"].size

most_profitable_filter = most_profitable_sort.iloc[0:5,].reset_index()

most_profitable_frame = pd.DataFrame({"Purchase count": most_profitable_count})

most_profitable_final = pd.merge(most_profitable_frame, most_profitable_filter, on="Item ID")

most_profitable_final

# re-arranging the columns 
most_profitable_FINAL = most_profitable_final[['Item ID', 'Item Name', 'Purchase count', 'Price', 'Total Purchase Value']]

most_profitable_FINAL

#renaming "Price" collumn to "Item Price"

most_profitable_FINAL = most_profitable_FINAL.rename(columns={"Price" : "Item Price"})

most_profitable_FINAL

,Item ID,Item Name,Purchase count,Item Price,Total Purchase Value
0,82,Nirvana,9,4.90,44.10
1,92,Final Critic,8,4.88,39.04
2,103,Singed Scalpel,8,4.35,34.80
3,145,Fiery Glass Crusader,9,4.58,41.22
4,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76